
@{
    ViewBag.Title = "SendRequest";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" media="screen and (max-height: 450px)" />
    <link rel="stylesheet" type="text/css" media="screen and (max-height: 450px)" />
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 100px;
        }

            .sidenav a {
                padding: 6px 6px 6px 32px;
                text-decoration: none;
                font-size: 18px;
                color: #818181;
                display: block;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }


        .main {
            margin-left: 200px; /* Same as the width of the sidenav */
        }
    </style>


</head>
<body>
    <div class="sidenav">

        <a href="http://localhost:50741/User/UserProfile"><span class="glyphicon glyphicon-home"></span>User Profile</a>
        <a href="http://localhost:50741/User/Searchuser"><span class="glyphicon glyphicon-search"></span>Search Users</a>
        <a href="http://localhost:50741/User/getnotified"><span class="glyphicon glyphicon-heart"></span>Proposal Requests</a>
        <a href="http://localhost:50741/User/Login"><span class="glyphicon glyphicon-log-out"></span>Log Out</a>
    </div>


    <div class="main">
        <center>
            <h2 class="color-white">SendRequest</h2>
            <p class="color-white">your request is sent successfully</p>
        </center>
    </div>
</body>
</html>