
<html xmlns="http://www.w3.org/1999/xhtml">
@{
    ViewBag.Title = "Broker Profile";
}

<head>
    <link rel="stylesheet" type="text/css" media="screen and (max-height: 450px)" />
    <link rel="stylesheet" type="text/css" media="screen and (max-height: 450px)" />
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 100px;
        }

            .sidenav a {
                padding: 6px 6px 6px 32px;
                text-decoration: none;
                font-size: 18px;
                color: #818181;
                display: block;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }


        .main {
            margin-left: 200px; /* Same as the width of the sidenav */
        }
    </style>


</head>
<body>
    <div class="sidenav">

        <a href="http://localhost:50741/Broker/UserProfile"><span class="glyphicon glyphicon-home"></span>Broker Profile</a>
        <br />
        <br />
        <a href="http://localhost:50741/Broker/requests"><span class="glyphicon glyphicon-user"></span>Registration Requests</a>
        <br />
        <br />
        <a href="http://localhost:50741/Broker/ViewProgress"><span class="glyphicon glyphicon-stats"></span>View Progress</a>
        <br />
        <br />
        <a href="http://localhost:50741/Broker/PayBack"><span class="glyphicon glyphicon-usd"></span>Pay Back</a>
        <br />
        <br />
        <a href="http://localhost:50741/Broker/Login"><span class="glyphicon glyphicon-log-out"></span>Log Out</a>
    </div>
    <br />
    <br />
    <div class="main">

        <center> <h2 class="color-white">Broker Profile</h2> </center>
       
      

        <br />
        <br />

        <div class="row">

            <div class="col-md-4">
                <h3 class="color-white">Registration Requests</h3>
                <br />
                <p><a class="btn btn-primary btn-lg" href="http://localhost:50741/Broker/requests">Go </a></p>
            </div>
            <div class="col-md-4">
                <h3 class="color-white">View Progress</h3>
                <br />
                <p><a class="btn btn-primary btn-lg" href="http://localhost:50741/Broker/ViewProgress">Go </a></p>
            </div>
        </div>
    </div>



</body>
</html>
























